body{
    margin: 0px;
    padding: 0px;
}
*{
    box-sizing: border-box;
}

.App{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 0;;
}


.image-wrapper{
    width:40%;
}
.image-wrapper img{
  height: 100vh;
}

.form-wrapper-box{
    width: 60%;
    padding-right: 10%;
}
.form-wrapper{
    margin: 0px 30px;
}

.hr-wrapper{
    height: 2px;
    border-bottom: 1px solid rgb(218, 215, 215);
    margin: 10px 30px 30px 30px;
    text-align: center ;
}

.step-wrapper{
    color: rgb(172, 169, 169);
    margin-bottom: 20px;
}

.input-wrapper{
    display: flex;
    justify-content: space-between;
    
}

.input-wrapper-checkbox{
    display: flex;
    justify-content: flex-start;
    margin-top: 30px;
}

.input-wrapper-checkbox div{
    margin-right:50px ;
}

.input-box-small{
    width:330px;
}

.input-box-large{
    width: 700px;
}

.button-wrapper{
    margin-top: 20px;
    display: flex;
    align-items:flex-end;
    justify-content: flex-end;
}

.MuiButton-contained{
    background-color: #fff !important;
    box-shadow: none !important;
}
.MuiButton-containedPrimary{
    color: #fff;
    background-color: #3f51b5 !important;
    padding: 10px 30px !important;
}

